*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Space Grotesk', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

.text-main-color {
  color: #4b4a4b;
}

.main-container {
    max-width: 120rem;
    margin: auto;
    width: 92%; }

    /* CSS */
    .btn {
      appearance: none;
      background-color: transparent;
      border: 2px solid #52057b;
      border-radius: 15px;
      box-sizing: border-box;
      color: #52057b;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 60px;
      min-width: 0;
      outline: none;
      padding: 16px 24px;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: 40%;
      will-change: transform;
    }
    
    .btn:disabled {
      pointer-events: none;
    }
    
    .btn:hover {
      color: #fff;
      background-color: #42019d;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }
    
    .btn:active {
      box-shadow: none;
      transform: translateY(0);
    }

.sec-pad {
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .sec-pad {
      padding: 8rem 0; } }

.header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1); }
    .header__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 5rem; }
      @media only screen and (max-width: 56.25em) {
        .header__content {
          padding: 0 2rem; } }
    .header__logo-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #333;
      transition: color .3s; }
      .header__logo-container:hover {
        color: #7526b2; }
    .header__logo-img-cont {
      width: 5rem;
      height: 5rem;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 1.5rem;
      background: #7810da; }
      @media only screen and (max-width: 56.25em) {
        .header__logo-img-cont {
          width: 4.5rem;
          height: 4.5rem;
          margin-right: 1.2rem; } }
    .header__logo-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block; }
    .header__logo-sub {
      font-size: 1.8rem;
      
      font-weight: 700;
      letter-spacing: 1px; }
    .header__links {
      display: flex; }
      @media only screen and (max-width: 37.5em) {
        .header__links {
          display: none; } }
    .header__link {
      padding: 2.2rem 3rem;
      display: inline-block;
      font-size: 1.6rem;
      color: #333;
  
      letter-spacing: 1px;
      font-weight: 700;
      transition: color .3s; }
      .header__link:hover {
        color: #7810da; }
      @media only screen and (max-width: 56.25em) {
        .header__link {
          padding: 3rem 1.8rem;
          font-size: 1.5rem; } }
    .header__main-ham-menu-cont {
      display: none;
      width: 3rem;
      padding: 2.2rem 0; }
      @media only screen and (max-width: 37.5em) {
        .header__main-ham-menu-cont {
          display: block; } }
    .header__main-ham-menu {
      width: 100%; }
    .header__main-ham-menu-close {
      width: 100%; }
    .header__sm-menu {
      background: #fff;
      position: absolute;
      width: 100%;
      top: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
      box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1); }
      .header__sm-menu--active {
        visibility: hidden;
        opacity: 0; }
        @media only screen and (max-width: 37.5em) {
          .header__sm-menu--active {
            visibility: visible;
            opacity: 1; } }
    .header__sm-menu-link a {
      display: block;
      text-decoration: none;
      padding: 2.5rem 3rem;
      font-size: 1.6rem;
      color: #333;
      text-align: right;
      border-bottom: 1px solid #eee;
      font-weight: 700;
      letter-spacing: 2px;
      transition: color .3s; }
      .header__sm-menu-link a:hover {
        color: #0062b9; }
    .header__sm-menu-link:first-child a {
      border-top: 1px solid #eee; }
    .header__sm-menu-link-last {
      border-bottom: 0; }


.heading-primary {
  font-size: 6rem;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 4.5rem; } }
  
  .heading-primary-bold  {
    font-weight: 700;
  }


.heading-section {
  display: block;
  font-size: 4rem;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative; }

  .heading-icon {
    margin: 4rem auto 0 auto;
    text-align: center;
  }
  .home_icon i {
    font-size: 10rem;
    font-weight: 900;
  }


.home {
    color: #fff;
    background: linear-gradient(to right, rgba(70, 21, 126, 0.8), rgba(143, 108, 186, 0.864)), url(../assets/svg/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 80rem;
    max-height: 120rem;
    position: relative; }

    .home__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90rem;
        width: 80%;
        text-align: justify;}

    .home_icon {
      margin: 10rem auto 0 auto;
      text-align: center;
      font-size: 1px;
      font-weight: 700;
    }
    
    .home_icon i {
      font-size: 8rem;
      font-weight: 900;
    }




.about {
    color: #fff;
    background: rgba(240, 240, 240, 0.8);
    background-position: center;
    height: 150vh;
    min-height: 80rem;
    max-height: 140rem;}

    .about_header {
        font-size: 3rem;
        letter-spacing: 3px;
        text-align: center; }
    .about-content {
      color:  rgba(4, 4, 4, 0.8);
      font-size: 2em;
      max-width: 90rem;
    }

        .about-description {
          margin: 2em;
          text-align: justify;
        }

        .about-description-bold {
          font-weight: bolder;
        }
        .about-link {
          color:rgba(0, 98, 185, 0.8)
        }

        .about_skills_list {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          margin: 2em 0 0 0;
        }

        .about_skill_box img {
          width: 15rem;
          height: 7rem;
          margin: auto;
          padding: 5%;
          margin: 1rem 0 0 0;  
        }

        .about_skill_box figcaption {
          text-align: center;
          font-size: 1.5rem;
        }
  
  .experience{
    background: rgba(240, 240, 240, 0.8);
    background-position: center;
    position: relative;
  }

      .container-experience {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 5% 0 0 0;
      }

      .experience-wrapper {
        position: relative;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0 15%;
      }
 
      .experience-logo {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
      }

      .experience-logo img {
        display: block;
        width: 100%;
        min-width: 100%;
      }
      .experience-item-title {
        font-size: 2.5rem;
      }
      .experience-description {
        max-width: 400px;
      }
      .experience-item-description li {
        font-size: 1.7rem;  
      }
      .experience-item-dates {
        font-size: 1.9rem;
      }

.projects {
  background-color: #ffffff;
}
  .projects-content {
    margin-top: 5%;
  }
  .projects-row {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-gap: 5rem;
  }
  
  .projects-row-content-title{
    font-size: 3rem;
  }
  .projects-row-description {
    font-size: 1.8rem;
    margin: 5% 0;
    max-width: fit-content  ;
    padding: auto;
  }
  .projects-row-img-cont img {
    width: 100%;
    max-width: 500px;
    display: flex;
  }

.contact {
    color: #fff;
    background: linear-gradient(to right, rgba(70, 21, 126, 0.8), rgba(143, 108, 186, 0.864)), url(../assets/svg/common-bg.svg);
}
  .contact-text{
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;  
    font-size: large;
  }
  .form-container {
    position: relative;
    width: 70%;
    padding: 6%;
    background: white;
    color:rgb(13, 13, 13);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 5rem auto 0 auto; 
  }
  .form-container{
    text-align: center;
  }
    .contact-form-label{
      color: #666;
      font-size: 1.4rem;
      letter-spacing: 1px;
      font-weight: 600;
      margin-bottom: 1rem;
      display: block;
      text-align: left;
    }

    .contact-form-input{
      color: #333;
      padding: 2rem;
      width: 100%;
      border: 1px solid #ebebeb;
      font-size: 1.6rem;
      letter-spacing: 0px;
      background: #f0f0f0;
      border-radius: 5px;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }
 
    .contact-form-input::placeholder {
      font-family: 'Space Grotesk', sans-serif; 
      color: #999;
      font-weight: 600;
      font-size: 1.6rem; }

.footer {
  background-color: rgb(47, 47, 47);
  color: white;
  padding: 1rem;
  font-size: 1rem; 
  text-align: center;
  border: 1px;
  border-color: white;
}

.footer-container{
  font-size: 1.2rem;
}
  .footer-info{
    display: flex;
    justify-content: space-between  ;
    padding: 1.5rem 0;
  }

    .footer-info-summary h2 {
      font-size: 1.8rem;
      padding-bottom: 10px;
    }
    .footer-info-summary p {
      font-size: 1.4rem;
    }
    .footer-info-summary{
      width: 70%;
      text-align: left;
    } 
  .footer-social{
    padding: 0 1rem 0 0;
  }
  .footer-social-header{
    text-align: left;
    padding-bottom: 0.1rem;
    margin-left: 1px;
    padding-bottom: 10px;
  }
  

  .footer-social-cont img {
    max-width: 30px;
  }


  .footer-copyright{
    padding: 15px 0 0 0;
    position: relative;
    border-top-color: rgb(205, 200, 200);
    border-top-width: 0.5px; 
    border-top-style: solid;
  }

  .footer-link{
    text-decoration: underline;
  }
